.Header-header {
  background-color: #3F51B5;
  height: auto;
  padding-top: 20px;
  padding-bottom: 5px;
  color: white;
  text-align: center;
}

.Header-logo {
  height: 80px;
  display: inline-block;
}

#fetch{
  display: inline-block;
  margin: 10px;
  vertical-align: middle;
}

.Header-title {
  font-size: 1.5em;
}

.Header-intro {
  font-size: large;
}

.btn-header{
    color: #ffffff;
    background-color: #E91E63;
    border-color: #D81B60;
    transition: transform 0.2s;
}

.btn-header:hover{
    background-color: #E53935;
    transform: scale(1.1);
}
