.preview {
	display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.preview-img {
	height: 80%;
}

.wildlifebox {
	color: 0000;
	display: flex;
    justify-content: center;
}

.wildlifebox input{
  margin-right: 5px;
}
